SECRET_KEY='<ВАШ_СЕКРЕТНЫЙ_КЛЮЧ_DJANGO>'
DEBUG=False # Установите True для разработки, False для продакшена
ALLOWED_HOSTS=127.0.0.1,localhost,158.160.181.244

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

TELEGRAM_BOT_TOKEN='<ВАШ_ТОКЕН_TELEGRAM_БОТА>'
TELEGRAM_CHAT_ID='<ВАШ_TELEGRAM_CHAT_ID>' # Ваш ID чата для получения напоминаний

POSTGRES_DB='habit_tracker_db'
POSTGRES_USER='postgres'
POSTGRES_PASSWORD='<ПАРОЛЬ_ДЛЯ_POSTGRES>'
POSTGRES_PORT='5432'
POSTGRES_HOST='db' # Имя сервиса базы данных в docker-compose